<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/header.ejs') %>
            <h1>Dashboard</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First Name</th>
                        <th scope="col"> Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td> Ezhil</td>
                        <td> Krishnan</td>
                    </tr>
                </tbody>
            </table>
            <%- include('includes/end.ejs') %>